/// body
$body-background: $pt-white;

/// box shadows
$box-shadow-1: 0px 0px 12px -6px $pt-black;
$box-shadow-2: 0px 0px 19px -6px $pt-black;

$font-family: 'Sniglet', cursive;
$font-size: 1rem;
$font-color: $pt-black;

$anchor-color: $pt-blue;
$anchor-color-hover: darken($anchor-color, 10%);
$anchor-transition: color 0.25s ease-in-out;

$disabled-opacity: 0.6;

// dark mode overrides
@if $allow-dark-mode {
  @media (prefers-color-scheme: dark) {
    $body-background: $pt-black;
    $font-color: $pt-white;
    $box-shadow-1: 0px 0px 12px -6px $pt-white;
    $box-shadow-2: 0px 0px 19px -6px $pt-white;
  }
}
