$allow-dark-mode: true;

$breakpoint-tablet: 1023px;
$breakpoint-mobile: 767px;

$global-radius: 0.5rem;

$pt-white: #fefefe;
$pt-light-grey: #eeeeee;
$pt-black: #141414;
$pt-blue: #1a79bc;

:export {
  allow-dark-mode: $allow-dark-mode;

  breakpoint-tablet: $breakpoint-tablet;
  breakpoint-mobile: $breakpoint-mobile;

  global-radius: $global-radius;

  pt-white: $pt-white;
  pt-light-grey: $pt-light-grey;
  pt-black: $pt-black;
  pt-blue: $pt-blue;
}
